.loader {
    margin-top: 200px;
    padding-left: 200px;
    font-size: xx-large;
    color: seagreen;
}

.navbar-inverse {
    background-color: #216839
 }
   .navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}

#showcase{
    margin-top: 52px;
    
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.icon-next, .icon-prev{
    color: green;
}