.loader {
    margin-top: 200px;
    padding-left: 200px;
    font-size: xx-large;
    color: seagreen;
}

.navbar-inverse {
    background-color: #216839
 }
   .navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}

#showcase{
    margin-top: 100px;
     background: url(../img/varsign3.JPG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}