.loader {
    margin-top: 200px;
    padding-left: 200px;
    font-size: xx-large;
    color: seagreen;
}

.navbar-inverse .dropdown-menu{
    background-color: #c5c1c1;
 }
.navbar-brand {
    color: black;
}
.navbar-nav>li>a {
    color: white;
    font-weight: bold;
    font-family: Lato;
}
.navbar-inverse {
    background-color: #216839;
    border-color: #216839;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 139, 202);
}
/*.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #black;
    white-space: nowrap;
}*/
#showcase{
    margin-top: 52px;
    
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.icon-next, .icon-prev{
    color: green;
}
.copyright {
    border-top: #FFF 1px solid;
    background: #216839;
    font-size: 12px;
    color: white;
    text-shadow: 0 1px 1px white;
    padding: 30px 0;
    margin-top: 94px;
}
article {
    
    margin-top: 75px;
}

