@import url("//fonts.googleapis.com/css?family=Playfair+Display+SC:900");

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.loader {
    margin-top: 200px;  
    font-size: xx-large;
    color:  #216839;
    font-weight: bolder;
}

.navbar-inverse .dropdown-menu{
    background-color: #c5c1c1;
    background-color:  cornsilk;
 }
#var-brand {    
  color: cornsilk; 
  font-family: 'Playfair Display SC', serif;
  font-size: 30px;   
}
.navbar-nav>li>a {
    color: white;
    font-weight: bold;
    font-family: Lato;
}
.navbar-inverse {
    background-color: #216839;
    border-color: #216839;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 139, 202);
}
#showcase{
    margin-top: 52px;    
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
#techiebud > a {
    color:#999;
    font: smaller
   
    
}

#main {
   min-height:100%;
   position:relative;
}
#contents {
   /*padding:10px;*/
   padding-bottom:60px;   /* Height of the footer */
}

#header {
    
    padding: 20px;
}

#footer {
    border-top: #FFF 1px solid;
    background: #216839;	
	width:100%;
	height:60x;
	position: absolute;
	bottom:0;
	left:0;
}
section#contents {
    
    margin-top: 75px; 
    padding-bottom:50px; /* Height of the footer element */
    
}

#copyright, #techiebud {
    
    color: #999;
    
}
.error {
    color: red;
    font-weight: bold;;
}

.center {
    margin: auto;
    width: 60%;   
    padding: 10px;
}
.copyright.container {
    padding-top: 5px;
}

p.unit-number.lead {
    margin-bottom: 0;
}

.units-for-sale {
    margin-bottom: 30px;
}
a.unit-for-sale:hover {
    color: darkred;
    text-decoration: none !important;
    
}
/*a {
    text-decoration: none !important;
    color: darkgreen;
}*/

div.board-member {
    margin-bottom: 20px;
}
img#var-logo {
    
    border: 0;
    padding-bottom: 30px;
}

span#var-picture-left, span#var-picture-right {
    font-size: 70px;
    font-stretch: wider;
    color: darkgreen;
    font-family: cursive;
    font-weight: 900;
    top: 40%;
}
@media screen and (min-width: 768px)
{
    span#var-picture-right {
    margin-left: -78px;
    margin-right: 48px;
}
span#var-picture-left {
    margin-left: 30px;
}
}

.var-street-sign {
    
    height: 350%;
    width: 35%;
}

#loan-countdown {
    width:  50%;
    background-color: FCF4F6;
} 

.countdown-row {
    /*margin-top: 25px;*/
    padding-top: 25px;
    font-size: xx-large;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    margin-top: auto;
}

a.twitter-timeline {
  /* Buttonish */
  display: inline-block;
  padding: 6px 12px 6px 30px;
  margin: 10px 0;
  border: #ccc solid 1px;
  border-radius: 3px;
  background: #f8f8f8 url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNzIgNzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDcyIDcyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IHg9IjAiIGZpbGw9Im5vbmUiIHdpZHRoPSI3MiIgaGVpZ2h0PSI3MiIvPg0KPHBhdGggZmlsbD0iIzU1YWNlZSIgZD0iTTY4LjgxMiwxNS4xNDFjLTIuMzQ4LDEuMDM5LTQuODY5LDEuNzQzLTcuNTE5LDIuMDZjMi43MDMtMS42Miw0Ljc3OC00LjE4Nyw1Ljc1Ni03LjI0NGMtMi41MjksMS41LTUuMzMsMi41OTItOC4zMTMsMy4xNzYNCglDNTYuMzQ5LDEwLjU5MSw1Mi45NDgsOSw0OS4xODIsOWMtNy4yMjksMC0xMy4wOTIsNS44NjEtMTMuMDkyLDEzLjA5M2MwLDEuMDI2LDAuMTE4LDIuMDIxLDAuMzM4LDIuOTgxDQoJYy0xMC44ODUtMC41NDgtMjAuNTI4LTUuNzU3LTI2Ljk4Ny0xMy42NzljLTEuMTI2LDEuOTM2LTEuNzcxLDQuMTg0LTEuNzcxLDYuNTgxYzAsNC41NDIsMi4zMTIsOC41NTEsNS44MjQsMTAuODk4DQoJYy0yLjE0Ni0wLjA2OS00LjE2NS0wLjY1Ny01LjkzLTEuNjM4Yy0wLjAwMiwwLjA1NS0wLjAwMiwwLjExLTAuMDAyLDAuMTYyYzAsNi4zNDUsNC41MTMsMTEuNjM4LDEwLjUwNCwxMi44NA0KCWMtMS4xMDEsMC4yOTgtMi4yNTYsMC40NTctMy40NDksMC40NTdjLTAuODQ2LDAtMS42NjctMC4wNzgtMi40NjUtMC4yMzFjMS42NjcsNS4yLDYuNDk5LDguOTg2LDEyLjIzLDkuMDkNCgljLTQuNDgyLDMuNTEyLTEwLjEyOSw1LjYwNi0xNi4yNiw1LjYwNmMtMS4wNTUsMC0yLjA5Ni0wLjA2MS0zLjEyMi0wLjE4NGM1Ljc5NCwzLjcxNywxMi42NzYsNS44ODIsMjAuMDY3LDUuODgyDQoJYzI0LjA4MywwLDM3LjI1MS0xOS45NDksMzcuMjUxLTM3LjI0OWMwLTAuNTY2LTAuMDE0LTEuMTM0LTAuMDM5LTEuNjk0QzY0LjgzOCwyMC4wNjgsNjcuMDU4LDE3Ljc2NSw2OC44MTIsMTUuMTQxeiIvPg0KPC9zdmc+DQo=") 8px 8px no-repeat;
  background-size: 1em 1em;


  /* Text */
  font: normal 12px/18px Helvetica, Arial, sans-serif;
  color: #333;
  white-space: nowrap;
}
 
a.twitter-timeline:hover,
a.twitter-timeline:focus {
  background-color: #dedede;
}
 
/* Color Highlight for keyboard navigation */
 
a.twitter-timeline:focus {
  outline: none;
  border-color: #0089cb;
}
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

.gravatar {
        height: 20px;
        width: 20px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: inherit;
}

.techiebud {
    color: cornsilk;
    font: x-small;
    font-style: italic;
    
}
a.techiebud:hover {
    color: red;
    text-decoration: none;
}


hr {
  margin: 30px 20px;
  border-top: 2px solid #1C1E26;
  border-bottom: 2px solid #38404D;
}



/*Change icons size here*/

.social-icons .fa {
  font-size: 1.8em;
}


/*Change icons circle size and color here*/

.social-icons .fa {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa {
  border-radius: 50%;
}

.social-icons.icon-rounded .fa {
  border-radius: 5px;
}

.social-icons.icon-flat .fa {
  border-radius: 0;
}

.social-icons .fa:hover,
.social-icons .fa:active {
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
}

.social-icons.icon-zoom .fa:hover,
.social-icons.icon-zoom .fa:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.social-icons.icon-rotate .fa:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-adn {
  background-color: #504e54;
}

.social-icons .fa-apple {
  background-color: #aeb5c5;
}

.social-icons .fa-android {
  background-color: #A5C63B;
}

.social-icons .fa-bitbucket,
.social-icons .fa-bitbucket-square {
  background-color: #003366;
}

.social-icons .fa-bitcoin,
.social-icons .fa-btc {
  background-color: #F7931A;
}

.social-icons .fa-css3 {
  background-color: #1572B7;
}

.social-icons .fa-dribbble {
  background-color: #F46899;
}

.social-icons .fa-dropbox {
  background-color: #018BD3;
}

.social-icons .fa-facebook,
.social-icons .fa-facebook-square {
  background-color: #3C599F;
}

.social-icons .fa-flickr {
  background-color: #FF0084;
}

.social-icons .fa-foursquare {
  background-color: #0086BE;
}

.social-icons .fa-github,
.social-icons .fa-github-alt,
.social-icons .fa-github-square {
  background-color: #070709;
}

.social-icons .fa-google-plus,
.social-icons .fa-google-plus-square {
  background-color: #CF3D2E;
}

.social-icons .fa-html5 {
  background-color: #E54D26;
}

.social-icons .fa-instagram {
  background-color: #A1755C;
}

.social-icons .fa-linkedin,
.social-icons .fa-linkedin-square {
  background-color: #0085AE;
}

.social-icons .fa-linux {
  background-color: #FBC002;
  color: #333;
}

.social-icons .fa-maxcdn {
  background-color: #F6AE1C;
}

.social-icons .fa-pagelines {
  background-color: #241E20;
  color: #3984EA;
}

.social-icons .fa-pinterest,
.social-icons .fa-pinterest-square {
  background-color: #CC2127;
}

.social-icons .fa-renren {
  background-color: #025DAC;
}

.social-icons .fa-skype {
  background-color: #01AEF2;
}

.social-icons .fa-stack-exchange {
  background-color: #245590;
}

.social-icons .fa-stack-overflow {
  background-color: #FF7300;
}

.social-icons .fa-trello {
  background-color: #265A7F;
}

.social-icons .fa-tumblr,
.social-icons .fa-tumblr-square {
  background-color: #314E6C;
}

.social-icons .fa-twitter,
.social-icons .fa-twitter-square {
  background-color: #32CCFE;
}

.social-icons .fa-vimeo-square {
  background-color: #229ACC;
}

.social-icons .fa-vk {
  background-color: #375474;
}

.social-icons .fa-weibo {
  background-color: #D72B2B;
}

.social-icons .fa-windows {
  background-color: #12B6F3;
}

.social-icons .fa-xing,
.social-icons .fa-xing-square {
  background-color: #00555C;
}

.social-icons .fa-youtube,
.social-icons .fa-youtube-play,
.social-icons .fa-youtube-square {
  background-color: #C52F30;
}