/*main > section {
    font-weight: bold;
    margin-top: 137px;
    color: blue;
}*/

.loader {
    margin-top: 200px;
    padding-left: 200px;
    font-size: xx-large;
    color: seagreen;
}
main {
    margin-top: 120px;
}
.section_header {
    width: 100%;
    margin-bottom: 20px;
}
html {
    margin: -37px;
}
.dropdown:hover { 
    background-color: #428bca;
}

