.loader {
    margin-top: 200px;
    padding-left: 200px;
    font-size: xx-large;
    color: seagreen;
}

.navbar-inverse {
    background-color: #216839
 }
   .navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}

#showcase{
    margin-top: 52px;
    
}