<div class="container">

    <div class="jumbotron">
        <h1><span><i class="fa fa-sticky-note" aria-hidden="true"></i></span> Amenities </h1>
        <p>See what all we have to offer on property.</p>
    </div>
    <div class="page-header">
        <h1>Swimming Pool - <small>Sunbathe, Volleyball, Social Events, Summertime</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fpool%2Fpool1.jpg?alt=media&token=840086d4-a895-4398-b37a-732abb32e905" alt="entrance">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fpool%2Fpool2.jpg?alt=media&token=2ede8314-49a8-4b34-a574-9075816db0c2" alt="shallow end">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fpool%2Fpool3.jpg?alt=media&token=db92d580-5e1e-46c8-be75-c11522865060" alt="deep end">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fpool%2Fvarsign4.jpg?alt=media&token=079a9043-86ce-4e0b-a106-4ae4681e7a18" alt="far view">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fpool%2Fpool4.jpg?alt=media&token=a22927c1-21d5-46cf-bc82-4a439a36fa01" alt="deck">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Clubhouse - <small>Lounge Area, Full Kitchen, Pool Table, Entertainment</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch1.jpg?alt=media&token=6b8895f1-77c9-4ee4-abd9-7854ed92e1ff" alt="lounge chairs">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch2.jpg?alt=media&token=b2c331a5-43a2-4c5c-b607-bc6d0289e200" alt="sofa">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch3.jpg?alt=media&token=d7592439-88bd-47b6-8752-6efb9207b671" alt="kitchen sink">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch4.jpg?alt=media&token=85eb8471-ae77-4913-aed9-1094321fb3f2" alt="stove">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch5.jpg?alt=media&token=b32f9854-f82c-4335-9e6b-682129344a2b" alt="plant">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch6.jpg?alt=media&token=c211bdb0-d9b7-4333-a364-028fdc349a2a" alt="billiard balls">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch7.jpg?alt=media&token=0123b204-515a-4b7d-9fca-90cdde9600d6" alt="downstairs lounge">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch8.jpg?alt=media&token=96df821c-2b3e-4b49-b4fe-c4d95670f623" alt="pool table">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Tennis Courts - <small>Private Tennis Courts, Basketball Hoop, Active Lifestyle, Spectator</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Ftennis%2Ftc1.jpg?alt=media&token=7f9e64ba-725e-4f70-827e-2eb77b09fae0" alt="tennis entrance">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Ftennis%2Ftc2.jpg?alt=media&token=533add37-485e-4b36-8973-bc2803b359b9" alt="court backview">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Ftennis%2Ftc3.jpg?alt=media&token=61c725a1-51fc-40e4-8fc3-401058e381a4" alt="court backview2">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Ftennis%2Ftc4.jpg?alt=media&token=b546a615-1d0c-44d8-808f-18e9d4ba9174" alt="net">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Ftennis%2Ftc5.jpg?alt=media&token=1d9c39ee-d83b-497d-9bdc-9448695e9c85" alt="basketball">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Ftennis%2Ftc6.jpg?alt=media&token=454558da-633c-44a9-8c29-1fdd9951ed51" alt="tennis bench">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Common Areas - <small>Peaceful, Beautiful Foliage, Relaxation, Park Like Setting </small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon1.jpg?alt=media&token=ee1f5353-b500-4819-8a89-d2767c9c7e1f" alt="stone bench">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon2.jpg?alt=media&token=f729be21-3aeb-4ed4-b06d-5a1f5835b9bc" alt="stone bench2">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon3.jpg?alt=media&token=c7c90d98-8dce-4c75-9e7c-707720ff2751" alt="bench woods">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon4.jpg?alt=media&token=50de927b-cd00-4022-a39e-68b5418c74f7" alt="bench woods2">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon5.jpg?alt=media&token=0849fd82-88f9-4fba-aa53-c725c333c1bc" alt="cmv bench">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon6.jpg?alt=media&token=cf49d5b6-f835-4e12-8e2a-4321601764fb" alt="cmv bench2">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon7.jpg?alt=media&token=c2a9d4a0-afd9-444c-8908-d6abdc05daba" alt="cmv back">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon8.jpg?alt=media&token=179f802a-5d8e-471d-982f-3ccdf42b1c83" alt="var bench">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon9.jpg?alt=media&token=e20a1ebe-c701-475b-acd5-9d527a0e8c4b" alt="stone rabbit">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon10.jpg?alt=media&token=59560cd5-f620-45eb-a749-42355b7f009f" alt="var back">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fcommon%2Fcommon11.jpg?alt=media&token=0d1fddf4-00c4-40f6-8d5e-2913ebcfa1b2" alt="var bench2">
            </a>
        </div>
    </div>
</div>


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">              
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>