<footer class="footer">
  <div class="copyright container social-icons">
    <span id="copyright" class="row col-md-8 col-md-offset-4 col-sm-12">{{copyRight}}. Design by <a class="techiebud" href="{{designByURL}}" target="_blank">{{designBy}}</a></span>
       <span id="social" class="row col-md-4 col-md-offset-6 hidden-xs hidden-sm" >
         <a href="https://www.facebook.com/pages/The-Variations/119777111406054" target="_blank">
         <i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
         <a href="https://twitter.com/variationscondo" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
         

  </div>
</footer>