<div id="aboutus">
    <div class="container">

        <div class="jumbotron">
            <h1><span><i class="fa fa-info-circle" aria-hidden="true"></i></span> About Us</h1>
            <p class="lead">The Variations Condominium  Association is located near the corner of Clairmont Road and Buford Highway in the
                historic town of Chamblee, Georgia. The community is about 12 miles from downtown Atlanta and is 1 mile 
                from the major interstate I-85. The neighborhood is conveniently located within walking distance of various
                restaurants and grocery stores. </p>
        </div>

        <a href="#" class="thumbnail var-street-sign pull-right">
            <img src="img/varsign2.jpg" alt="main pool">
        </a>
        
        <div *ngIf="!isLoading">
        <p class="lead">The Variations Condominium Association is managed by:<p>         
        <address><a href="{{management.CompanyURL}}" target="_blank">{{management.Company}}</a><br> 
        Email: <a href="mailto:{{management.ContactEmail}}?Subject=Variations%20Inquiry">{{management.ContactEmail}}</a><br>
        Phone: <em>{{management.ContactPhone}}</em>            
        </address>   
        </div>
            

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.2503512957733!2d-84.31260928479007!3d33.85743838065935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5086308b9bb83%3A0x366982055694ba22!2sVariations+Dr+NE%2C+Atlanta%2C+GA+30329!5e0!3m2!1sen!2sus!4v1464816627733" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>