<div id="aboutus">
    <div class="container">

        <div class="jumbotron">
            <h1><span><i class="fa fa-info-circle" aria-hidden="true"></i></span> About Us</h1>
            <p class="lead">The Variations Condominium Association is a community of 131 townhome-style condos in Chamblee, Georgia. The
                community is located near the corner of Clairmont Road and Buford Highway, about 12 miles northeast of downtown
                Atlanta and 1 mile from the major interstate I-85. The neighborhood is conveniently located within walking
                distance of various restaurants and grocery stores.</p>

            <div class="h4 marta-info">
                <img src="img/marta-logo.png" class="marta-logo pull-left"><br/>The <a href="http://www.itsmarta.com/ne-cha-overview.aspx"
                    target="_blank">Chamblee</a> and <a href="http://www.itsmarta.com/ne-bro-overview.aspx" target="_blank">Brookhaven/Oglethorpe</a>                Marta rail stations are both within 3 miles of the community. The <a href="http://www.itsmarta.com/19-w.aspx"
                    target="_blank">#19 bus route</a> has a stop located near the entrance on Clairmont Road.
            </div>
        </div>



        <!--<a href="#" class="thumbnail var-street-sign pull-right">
            <img src="img/varsign2.jpg" alt="main pool">
        </a>-->

        <div class="panel">
            <p class="lead">The Variations Condominium Association is managed by:
                <p id="managment-company">
                    <address><span id="management-company"><a href="{{management.CompanyURL}}" target="_blank">{{management.Company}}</a><br> Email: <a href="mailto:{{management.ContactEmail}}?Subject=Variations%20Inquiry">{{management.ContactEmail}}</a><br>                        Phone: <em>{{management.ContactPhone}}</em></span>
                    </address>
                    <span class="lead">Use the contact information above for inquiries about The Variations.</span>
                
        </div>
      <hr>


        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.2503512957733!2d-84.31260928479007!3d33.85743838065935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5086308b9bb83%3A0x366982055694ba22!2sVariations+Dr+NE%2C+Atlanta%2C+GA+30329!5e0!3m2!1sen!2sus!4v1464816627733"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



        <hr>

        <div class="row webmaster">
            <div class="col-md-12 h4">
                Questions or comments about this web site? Contact the <a href="mailto:variationscondos@gmail.com?Subject=Website%20Inquiry">Webmaster - varationscondos@gmail.com</a>
            </div>



        </div>
    </div>
    <!-- container
</div>  <!-- about us -->