<div class="container">
    <div class="jumbotron">
        <h1><span><i class="fa fa-user" aria-hidden="true"></i></span> Account Profile</h1>
        <h3>Make changes to your account profile below:</h3>
    </div>


    <form [ngFormModel]="accountProfileForm" (ngSubmit)="onUpdateProfile()">
        <div class="form-group row">
            <div class="col-md-3">
                <label for="firstNMme">First Name</label>
                <input [ngFormControl]="accountProfileForm.find('firstName')" #firstName="ngForm" type="text" id="firstName" placeholder="First Name"
                    class="form-control">
                <span *ngIf="firstName.control.hasError('required')" class="error">First Name is Required.</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="lastName">Last Name</label>
                <input [ngFormControl]="accountProfileForm.find('lastName')" #lastName="ngForm" type="text" id="lastName" placeholder="Last Name"
                    class="form-control">
                <span *ngIf="lastName.control.hasError('required')" class="error">Last Name is Required.</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-1">
                <label for="Unit">Unit #</label>
                <input [ngFormControl]="accountProfileForm.find('unit')" type="number" id="unit" #unit="ngForm" min="1901" max="2112" maxlength="4"
                    placeholder="Unit #" class="form-control">
                <span *ngIf="!unit.pristine && unit.errors != null && unit.errors['unitIsInvalid']" class="error">Invalid Unit #</span>
                <span *ngIf="unit.control.hasError('required')" class="error">Unit # is Required.</span>
            </div>
        </div>

<!--
        <div *ngIf="!accountProfileForm.valid" class="error">Form is invalid!</div>-->

        <div class="form-group row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit" [disabled]="!accountProfileForm.valid || accountProfileForm.pristine">Update Profile</button>
            </div>
        </div>

    </form>
    <div class="row">
        <div class="col-md-4">
            <a href="" class="btn btn-warning" [routerLink]="['UnderConstruction']">Change Password</a>
              <a href="" class="btn btn-warning" [routerLink]="['ChangeEmail']">Change Email</a>

        </div>
    </div>

</div>