<div class="container">

    <div class="jumbotron">
        <h1><span><i class="fa fa-sticky-note" aria-hidden="true"></i></span> Amenities </h1>
        <p>See what all we have to offer on property.</p>
    </div>
    <div class="page-header">
        <h1>Swimming Pool - <small>Sunbathe, Volleyball, Social Events, Summertime</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/pool/pool1.jpg" alt="entrance">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/pool/pool2.jpg" alt="shallow end">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/pool/pool3.jpg" alt="deep end">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/varsign4.jpg" alt="far view">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/pool/pool4.jpg" alt="deck">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Clubhouse - <small>Lounge Area, Full Kitchen, Pool Table, Entertainment</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/clubhouse/ch1.jpg" alt="lounge chairs">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/clubhouse/ch2.jpg" alt="sofa">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/clubhouse/ch3.jpg" alt="kitchen sink">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/clubhouse/ch4.jpg" alt="stove">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/clubhouse/ch5.jpg" alt="plant">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/clubhouse/ch6.jpg" alt="billiard balls">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/clubhouse/ch7.jpg" alt="downstairs lounge">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/clubhouse/ch8.jpg" alt="pool table">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Tennis Courts - <small>Private Tennis Courts, Basketball Hoop, Active Lifestyle, Spectator</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc1.jpg" alt="tennis entrance">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc2.jpg" alt="court backview">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc3.jpg" alt="court backview2">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc4.jpg" alt="net">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc5.jpg" alt="basketball">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc6.jpg" alt="tennis bench">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Common Areas - <small>Peaceful, Beautiful Foliage, Relaxation, Park Like Setting </small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common1.jpg" alt="stone bench">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common2.jpg" alt="stone bench2">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common3.jpg" alt="bench woods">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common4.jpg" alt="bench woods2">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common5.jpg" alt="cmv bench">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common6.jpg" alt="cmv bench2">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common7.jpg" alt="cmv back">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common8.jpg" alt="var bench">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common9.jpg" alt="stone rabbit">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common10.jpg" alt="var back">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common11.jpg" alt="var bench2">
            </a>
        </div>
    </div>
</div>


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">              
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>