<div class="container">

    <div class="jumbotron">
        <h1><span><i class="fa fa-sticky-note" aria-hidden="true"></i></span> Amenities </h1>
        <p>See what all we have to offer on property.</p>
    </div>
        <div class="page-header">
        <h1>Swimming Pool - <small>Sunbathe, Volleyball, Social Events, Summertime</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/pool1.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/pool2.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/pool3.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
    </div>
     <div class="page-header">
        <h1>Clubhouse - <small>Lounge Area, Full Kitchen, Pool Table, Entertainment</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Tennis Courts - <small>Private Tennis Courts, Basketball Hoop, Active Lifestyle, Spectator</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign5.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Common Areas - <small>Peaceful, Beautiful Foliage, Relaxation, Park Like Setting </small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign3.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="img/varsign4.jpg" alt="main pool">
            </a>
        </div>
    </div>
</div>