<div class="container">

    <div class="jumbotron">
        <h1><span><i class="fa fa-sticky-note" aria-hidden="true"></i></span> Amenities </h1>
        <p>See what all we have to offer on property.</p>
    </div>
    <div class="page-header">
        <h1>Swimming Pool - <small>Sunbathe, Volleyball, Social Events, Summertime</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/pool/pool1.jpg" alt="entrance">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/pool/pool2.jpg" alt="shallow end">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/pool/pool3.jpg" alt="deep end">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/varsign4.jpg" alt="far view">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="img/pool/pool4.jpg" alt="deck">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Clubhouse - <small>Lounge Area, Full Kitchen, Pool Table, Entertainment</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch1.jpg?alt=media&token=6b8895f1-77c9-4ee4-abd9-7854ed92e1ff" alt="lounge chairs">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch2.jpg?alt=media&token=b2c331a5-43a2-4c5c-b607-bc6d0289e200" alt="sofa">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch3.jpg?alt=media&token=d7592439-88bd-47b6-8752-6efb9207b671" alt="kitchen sink">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch4.jpg?alt=media&token=85eb8471-ae77-4913-aed9-1094321fb3f2" alt="stove">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch5.jpg?alt=media&token=b32f9854-f82c-4335-9e6b-682129344a2b" alt="plant">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch6.jpg?alt=media&token=c211bdb0-d9b7-4333-a364-028fdc349a2a" alt="billiard balls">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch7.jpg?alt=media&token=0123b204-515a-4b7d-9fca-90cdde9600d6" alt="downstairs lounge">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="https://firebasestorage.googleapis.com/v0/b/project-5333406827865431386.appspot.com/o/images%2Fclubhouse%2Fch8.jpg?alt=media&token=96df821c-2b3e-4b49-b4fe-c4d95670f623" alt="pool table">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Tennis Courts - <small>Private Tennis Courts, Basketball Hoop, Active Lifestyle, Spectator</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc1.jpg" alt="tennis entrance">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc2.jpg" alt="court backview">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc3.jpg" alt="court backview2">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc4.jpg" alt="net">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc5.jpg" alt="basketball">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/tennis/tc6.jpg" alt="tennis bench">
            </a>
        </div>
    </div>
    <div class="page-header">
        <h1>Common Areas - <small>Peaceful, Beautiful Foliage, Relaxation, Park Like Setting </small></h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common1.jpg" alt="stone bench">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common2.jpg" alt="stone bench2">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common3.jpg" alt="bench woods">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common4.jpg" alt="bench woods2">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common5.jpg" alt="cmv bench">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common6.jpg" alt="cmv bench2">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common7.jpg" alt="cmv back">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common8.jpg" alt="var bench">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common9.jpg" alt="stone rabbit">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common10.jpg" alt="var back">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pop">
                <img src="http://thevariationsatlanta.com/images/common/common11.jpg" alt="var bench2">
            </a>
        </div>
    </div>
</div>


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">              
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>