<div class="container">

	<div class="jumbotron">
		<h1><span><i class="fa fa-bullhorn wow shake" aria-hidden="true"></i></span><span> Announcements</span></h1>
		<p>Here are all the latest news and happenings going on in and around the community.</p>
	 <h3 id="special-announcement">Special Announcement</h3>
	<div class="h4 board-meeting-changes">
			<span class="lead special-announcement bg-warning">Tennis Courts Closed</span>
			<div>
				<br>	
			    <p>The tennis courts are closed for safety reasons until further notice.</p>
			
			</div>

		</div>

	 
		<div class="h4 board-meeting-changes">
			<span class="lead special-announcement bg-warning">Board Meeting Changes</span>
			<div class="announcement-list-items" style="font-size: smaller">

				<ul class="list-group hilites-2017">
					<li><strong><em>Reminder:</em></strong>
						<div>The next HOA Board meeting on Monday, July 17th<sup>th</sup>, 2017 will start at 6:30PM.</div>
						<li><strong><em>Schedule:</em></strong>
							<ul>
								<li>6:30PM to 6:45PM - Homeowners provide feedback for the Board - 3 minutes each (Board will listen)
									<li>6:45PM to 8:00PM - Board Meeting (Board conducts business. Responds to feedback from homeowners as applicable. Homeowners
										will listen)
										<li>8:00PM - Executive Session (Board only)
							</ul>
										<div class="lead text-danger">Emphasis of Meeting: 10 Year Financial Overview</div>
				</ul>
			</div>

		</div>

		<div *ngIf="isLoading && !isError">
			<i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>Loading announcements......
		</div>

		<div class="row contents">

			<div *ngIf="!isLoading" class="row panel panel-info col-md-8">
				<h3 id="CommunityAnnouncements" class="panel-heading">Community Announcements</h3>


				<table class="table table-striped" *ngIf="!isLoading">
					<thead>
						<th>Date</th>
						<th>Announcement (click to read more)</th>
					</thead>
					<tbody>
						<tr *ngFor="let announcement of announcements">
							<td>{{announcement.Date | date:'shortDate'}}</td>
							<td><a href="{{announcement.URL}}" target="_blank">{{announcement.Title}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<a class="twitter-timeline" href="https://twitter.com/variationscondo" data-widget-id="739549714450919425" data-chrome="nofooter">Tweets by @variationscondo</a>
			</div>
		</div>




	</div>