<div class="container">
    <h2>The Variations :: The 2016 Board</h2>
    <hr />
    <h3>Current board members with contact information are listed below:</h3>

    <table id="variationsTable" style="width=550px">
        <tr>
            <td><em>Community Manager</em><br /><b>Emily Little</b><br /> &nbsp;&nbsp;Email:   
            <a href="mailto:elittle@condominiumconcepts.com">elittle@condominiumconcepts.com</a><br /> &nbsp;&nbsp;Phone: (404) 917-0600 ext 250<br /> &nbsp;&nbsp;
                <a href="http://www.condominiumconcepts.com/" target="_blank">Condominimum Concepts Management<br />
				</td>
				<td><em>President</em><br /><b>Jane Hubbard</b><br />
					&nbsp;&nbsp;Address: 2060 Clairmeade Way<br />
					&nbsp;&nbsp;Email: <a href="mailto:jmhhubbard@gmail.com">jmhhubbard@gmail.com</a><br /> &nbsp;&nbsp;Phone:
                (404) 200-6283<br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><em>Vice President</em><br /><b>Donna Gibbas</b><br /> &nbsp;&nbsp;Address: 2099 Clairmeade Valley Rd<br /> &nbsp;&nbsp;Email:
                <a href="mailto:dlg2099@aol.com">dlg2099@aol.com</a><br /> &nbsp;&nbsp;Phone: (404) 636-5763<br />
            </td>
            <td><em>Secretary</em><br /><b>Pam Sellman</b><br /> &nbsp;&nbsp;Address: 2078 Clairmeade Valley Rd<br /> &nbsp;&nbsp;Email:
                <a href="mailto:pamsellman@gmail.com">pamsellman@gmail.com</a><br /> &nbsp;&nbsp;Phone: (770) 310-3778<br
                />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><em>Treasurer</em><br /><b>Bobby Ballinger</b><br /> &nbsp;&nbsp;Address: 1913 Variations Drive<br /> &nbsp;&nbsp;Email:
                <a href="mailto:ballinger.robert@yahoo.com">ballinger.robert@yahoo.com</a><br /> &nbsp;&nbsp;Phone: (404)
                550-5235
                <br />
            </td>

            <td><em>Landscape and Architect Committee</em><br/><b>George Bahakel</b><br /> &nbsp;&nbsp;Address: 2054 Clairmeade
                Way
                <br /> &nbsp;&nbsp;Email: <a href="mailto:gabear88@hotmail.com">gabear88@hotmail.com</a><br /> &nbsp;&nbsp;Phone:
                (770) 475-1130 ext. 8333<br />
            </td>
        </tr>
    </table>
</div>