<div id="discussion-board">
    <div class="container">

        <div class="jumbotron">
            <h1><span><i class="fa fa-comments" aria-hidden="true"></i></span> Discussion Board</h1>
            <p class="lead">This is the discussion board to share ideas and comments within the community.</p>


        </div>

        <div class="row under-construction">

            <h1 [style.color]="constructionColor">This page is under construction.</h1>
            <img src="img/hammer.gif" alt="This page is under contruction." class="col-md-6 col-md-offset-3 img">


        </div>

    </div>

</div>