<div class="container">

    <div class="jumbotron">
        <h1><span><i class="fa fa-usd" aria-hidden="true"></i></span> Fees </h1>
        <p>Current HOA Fee: <strong>$360</strong></p>
        <p>Current Cash Reserves: <strong>$178,877.67</strong> (as of Jan 2016)</p>
    </div>
    <div class="tc_div_79825" style="width:500px;height:125.00px;border:1px solid #C0C0C0"><a title="Loan Payoff" href="http://www.tickcounter.com/widget/countdown/1483160400000/america-new_york/dhms/FFFFFF000000000000FF0000/650/C0C0C01/Loan_Payoff">Loan Payoff</a>
        <a
            title="Countdown" href="http://www.tickcounter.com/">Countdown</a>
    </div>
    <script type="text/javascript">
        (function(){ var s=document.createElement('script');s.src="http://www.tickcounter.com/loader.js";s.async='async';s.onload=function() { tc_widget_loader('tc_div_79825', 'Countdown', 650, ["1483160400000","america-new_york","dhms","FFFFFF000000000000FF0000","500","C0C0C01","Loan Payoff"]);};s.onreadystatechange=s.onload;var head=document.getElementsByTagName('head')[0];head.appendChild(s);}());
    </script>



</div>