<div class="container">

    <div class="jumbotron">
        <h1><span><i class="fa fa-usd" aria-hidden="true"></i></span> Fees </h1>
        <p>Current HOA Fee: <strong>$360</strong></p>
        <p>Current Cash Reserves: <strong>$178,877.67</strong></p>
    </div>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem laboriosam, iste repellendus ullam animi, officia
    id voluptate facere dolore asperiores incidunt modi error optio aliquam cum. Natus odio placeat, quasi deserunt nam non
    quod, dolorem sunt nesciunt unde consequatur dolorum dolor eligendi libero aliquid repellat ea rerum.
</div>