<div class="container">


    <div class="jumbotron">
        <h1><span><i class="fa fa-home"></i></span> Units For Sale </h1>
        <p>Below are the current units in The Variations which are available to purchase.</p>
    </div>


    <i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>

    <div class="row">

        <div class="col-md-6 units-for-sale" *ngFor="let unit of units">
            <a href="{{unit.URL}}" target="_blank" class="unit-for-sale">
                <p class="unit-number lead"> <i class="fa fa-home" aria-hidden="true"></i>{{unit.UnitNumber}} {{unit.Street}}</p>
                <img src="{{unit.ImageURL}}" alt="{{unit.UnitNumber}}" class="img-thumbnail">
            </a>
        </div>


    </div>



</div>