<div id="general-information">
    <div class="container">

        <div class="jumbotron">
            <h1><span><i class="fa fa-book" aria-hidden="true"></i></span> General Information</h1>
            <p class="lead">General Information related to the Community</p>

        </div>


        <div class="panel panel-info">
            <h4 class="panel-heading">Tennis Court Access Code</h4>
            <div class="panel-body">
                <div class="col-md-6">
                    <span class="lead">Click image to reveal code.</span>
                    <img (click)="getTennisAccessCode()" id="tennis-image" src="img/tennis.png" alt="Tennis Court Access Code">
                </div>
            </div>


            <h4 class="panel-heading"><i class="fa fa-building" aria-hidden="true"></i> Management Company</h4>
            <div class="panel-body">
                <div class="col-md-6">
                    <p id="managment-company">
                        <address><span id="management-company"><a href="{{management.CompanyURL}}" target="_blank">{{management.Company}}</a><br> Email: <a href="mailto:{{management.ContactEmail}}?Subject=Variations%20Inquiry">{{management.ContactEmail}}</a><br>                        Phone: <em>{{management.ContactPhone}}</em></span>
                        </address>
                </div>

                    </div>



                <h4 class="panel-heading"><img class="marta-logo" src="img/marta-logo.png"></h4>
                <div class="panel-body">
                    <div class="h4 marta-info">
                        The <a href="http://www.itsmarta.com/ne-cha-overview.aspx" target="_blank">Chamblee</a> and <a href="http://www.itsmarta.com/ne-bro-overview.aspx"
                            target="_blank">Brookhaven/Oglethorpe</a> Marta rail stations are both within 3 miles of the community.
                        The
                        <a href="http://www.itsmarta.com/19-w.aspx" target="_blank">#19 bus route</a> has a stop located
                        near the entrance on Clairmont Road.
                    </div>
                </div>



                <h4 class="panel-heading"><img id="chamblee-logo" src="img/Chamblee.png"> Chamblee</h4>
                <div class="panel-body">
                    <div class="col-md-6">
                        <a href="http://chambleega.gov/ArchiveCenter/ViewFile/Item/109" target="_blank"><span class="lead">Welcome Package</span></a>
                    </div>
                </div>
            </div>

        </div>


    </div>