<div id="general-information">
    <div class="container">

        <div class="jumbotron">
            <h1><span><i class="fa fa-book" aria-hidden="true"></i></span> General Information</h1>
            <p class="lead">General Information related to the Community</p>

        </div>


        <div class="panel panel-info">
            <h4 class="panel-heading">Tennis Court Access Code</h4>
            <div class="panel-body">
                <div class="col-md-6">
                    <span class="lead">Click image to reveal code.</span>
                    <img (click)="getTennisAccessCode()" id="tennis-image" src="img/tennis.png" alt="Tennis Court Access Code">
                </div>
            </div>
        </div>
    </div>


</div>