<div id="showcase">
    <div class="container">
        <div class="section_header">
            <h3>Welcome to The Variations</h3>

            <p>Welcome to The Variations, a Condominium and Townhome Community in Chamblee, GA.</p>

            <div><iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=33.943901~-84.317902&amp;lvl=11&amp;w=500&amp;h=400&amp;sty=r&amp;typ=d&amp;pp=&amp;ps=&amp;dir=0&amp;mkt=en-us&amp;src=SHELL&amp;form=BMEMJS"></iframe>
                <div style="margin: 12px 0 0 0;"><a target="_blank" href="https://www.bing.com/maps/?cp=33.943901~-84.317902&amp;sty=r&amp;lvl=11&amp;sp=&amp;mm_embed=map">View Larger Map</a>&nbsp;
                    |&nbsp; <a target="_blank" href="https://www.bing.com/maps/?cp=33.943901~-84.317902&amp;sty=r&amp;lvl=11&amp;rtp=~pos.33.943901_-84.317902____&amp;mm_embed=dir">Get Directions</a>&nbsp;
                    |&nbsp; <a target="_blank" href="https://www.bing.com/maps/?cp=pnqkjm7z64qm&amp;sty=b&amp;lvl=18&amp;sp=&amp;mm_embed=be">View Bird's Eye</a></div>
            </div>
        </div>
    </div>
</div>
