<div class="navbar navbar-inverse navbar-fixed-top" id="var-navbar" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#var-navigation-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a [routerLink]="['home']" class="navbar-brand" id="var-brand"><strong>The Variations</strong></a>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation" id="var-navigation-menu">
                    <div class="for-regular-screens">
                        <ul class="nav navbar-nav navbar-right">

                            <li *ngIf="!isAuth()"><a [routerLink]="['about']">ABOUT US</a></li>
                            <!--<li *ngIf="!isAuth()" class="hidden-xs"><a [routerLink]="['about']">ABOUT US</a></li>-->
                            <li *ngIf="isAuth()" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">COMMUNITY</a>
                                <ul class="dropdown-menu">
                                    <li><a [routerLink]="['announcements']">Announcements</a></li>
                                    <li><a [routerLink]="['eventsCalendar']">Events Calendar</a></li>
                                    <li><a [routerLink]="['pictures']">Pictures</a></li>
                                    <li><a [routerLink]="['generalInformation']">General Information</a></li>
                                    <li [hidden]="!false"><a id="discussion-board" #discussionBoard href="//forum.variationscondos.com?authtoken={{userForumToken()}}" target="_blank">Discussion Board</a></li>
                                    <li><a (click)="showDiscussionBoard()" href="#">Discussion Board</a></li>

                                    <li class="nav-divider"></li>
                                    <li><a href="https://drive.google.com/open?id=0B0XxZGmv5AeFMktCVHlORm9fbTA" target="_blank">Newsletters</a></li>
                                    <li><a href="https://drive.google.com/open?id=0B0XxZGmv5AeFTTFxWjNpYkU4X0E" target="_blank">Financials</a></li>
                                    <li><a href="https://drive.google.com/open?id=0B0XxZGmv5AeFNHFqSmYwdE1hYkE" target="_blank">Board Meetings</a></li>
                                </ul>
                            </li>

                              <li class="dropdown" *ngIf="isAuth()">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">DIRECTORY</a>
                                <ul class="dropdown-menu">
                                      <li><a href="https://drive.google.com/file/d/0B0XxZGmv5AeFNlRDRnBsZmY5alk/view?usp=sharing" target="_blank">Residential Directory</a></li>
                                       <li><a [routerLink]="['residentSearch']">Resident Search</a></li>
                                       <li><a [routerLink]="['board']">The Board</a></li>                                   
                                </ul>
                            </li>

                            <li class="dropdown" *ngIf="isAuth()">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">DOCUMENTS</a>
                                <ul class="dropdown-menu">                                  
                                    <li><a href="https://drive.google.com/file/d/0B0XxZGmv5AeFN21jenNmaDFucG8/view?usp=sharing" target="_blank">New Resident Orientation</a></li>
                                    <li><a href="https://drive.google.com/file/d/0B0XxZGmv5AeFVy15b19GY1lwajA/view?usp=sharing" target="_blank">2017 Budget</a></li> 
                                    <li><a href="documents\CertificateOfInsurance.pdf" target="_blank">Certificate of Liability Insurance</a></li>
                                    <li><a href="https://drive.google.com/file/d/0B0XxZGmv5AeFRFYwRTVnYW5zNDA/view?usp=sharing" target="_blank">Director/Officer Code of Ethics</a></li>
                                    <li><a href="documents\PropertyModificationRequest.pdf" target="_blank">Property Modification Request</a></li>
                                    <li><a href="documents\ByLaws.pdf" target="_blank">Association Bylaws</a></li>
                                    <li><a href="documents\Resolutions.pdf" target="_blank">Resolutions</a></li>
                                </ul>
                            </li>
                           

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">HOA DETAILS</a>
                                <ul class="dropdown-menu">
                                    <li><a [routerLink]="['fees']">Fees</a></li>
                                    <li><a [routerLink]="['services']">Services</a></li>
                                    <li><a [routerLink]="['amenities']">Amenities</a></li>
                                </ul>
                            </li>

                            <li> <a [routerLink]="['forsale']">UNITS FOR SALE</a></li>
                            <!--<li class="hidden-xs"> <a [routerLink]="['forsale']">UNITS FOR SALE</a></li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">RESOURCES</a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://www.chambleega.com/" target="_blank">City of Chamblee</a></li>
                                    <li><a href="http://www.brookhavenpost.co" target="_blank">Brookhaven Post</a></li>
                                    <li><a href="http://www.decaonline.org/" target="_blank">Dresden East Civic Association (DECA)</a></li>
                                    <li><a href="http://www.dekalbcountyga.gov/" target="_blank">DeKalb County</a></li>
                                    <li><a href="http://georgia.gov/" target="_blank">State of Georgia</a></li>
                                    <li><a href="http://hq-salsa.wiredforchange.com/o/5950/getLocal.jsp?zip=30329" target="_blank">Elected Officials</a></li>
                                    <li><a href="http://www.dekalblibrary.org" target="_blank">DeKalb County Library</a></li>
                                    <li><a href="http://www.pdkairport.org/" target="_blank">DeKalb Peachtree Airport (PDK)</a></li>
                                    <li><a href="https://nextdoor.com/neighborhood/wakefieldforest--atlanta--ga/" target="_blank">Nextdoor - Wakefield Forest</a></li>
                                </ul>
                            </li>
                            <li *ngIf="!isAuth()"><a [routerLink]="['signin']">SIGN IN</a></li>

                            <li *ngIf="isAuth()" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="gravatar" src="{{userGravatarURL()}}"><i class="fa fa-caret-down fa-1" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a [routerLink]="['accountProfile']">Account Profile</a></li>
                                    <li><a href="#" (click)="logout()">Sign Out</a></li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                    <!-- for regular screens -->

                    <div class="for-small-screens visible-xs">
                            
                    </div>
                    <!-- for small screens -->
                </div>
                <!-- var-navigation-menu -->
            </div>
            <!-- col-md-12 -->
        </div>
        <!-- row -->
    </div>
    <!--container -->
</div>
<!-- navbar -->