<div class="container">

<div class="jumbotron">
    <h1><span><i class="fa fa-key" aria-hidden="true"></i></span> Reset Password</h1>
    
  </div>


    <form [ngFormModel]="resetPasswordForm" (ngSubmit)="onResetPassword()" novalidate>
     
        <div class="form-group row">
            <div class="col-md-2">
                <label for="password">New Password</label>
                <input [ngFormControl]="resetPasswordForm.find('password')" type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label for="confirm-password">Confirm Password</label>
                <input [ngFormControl]="resetPasswordForm.find('confirmPassword')" type="password" id="confirm-password" #confirmPassword="ngForm"
                    placeholder="Confirm Password" class="form-control">
                <span class="error" *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']"> Passwords do not match</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
            </div>
        </div>

    </form>
</div>