<div class="container">
    <div class="jumbotron">
        <h1><span><i class="fa fa-universal-access" aria-hidden="true"></i></span> Services </h1>
        <p>Here is the breakdown of what we offer.</p>
    </div>
    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img\comcast.jpg" alt="Comcast">
      <div class="caption">
        <h3>Television Services</h3>
        <p>Comcast</p>
        <p><a href="http://www.xfinity.com/multifamily" target= _blank class="btn btn-primary" role="button">Learn More</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img\falling.jpg" alt="Landscape">
      <div class="caption">
        <h3>Landscaping</h3>
        <p>Falling Leaves</p>
        <p><a href="http://www.fallingleaveslawncare.com/" target= _blank class="btn btn-primary" role="button">Learn More</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img\varsign.jpg" alt="test">
      <div class="caption">
        <h3>Insurance</h3>
        <p>Nationwide</p>
        <p><a href="http://www.xfinity.com/customerdeals?CMP=KNC-IQ_ID_sZ2Vxqf9r-VQ2-g-VQ6-55848858466-VQ16-c-pkw-xfinity-pmt-e-slid--tid-kucluzumz0-&CCT=53BA3D76CB1473BFF49C79FE4AA86DFF1EE2DE626F409A59BACE68CC3F3776A8D586D279057050F892B443A94A42A04F91124E5DE92A2DDE006B9874D54E3BEEEEC214B59A750BA8FBC3E2D6BE7F47BC562563D2F52B8B3475919843776C16CCDF1D69D1AE2AC870014C788ED2721093" target= _blank class="btn btn-primary" role="button">TV</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img\varsign.jpg" alt="test">
      <div class="caption">
        <h3>Xfinity Service</h3>
        <p>Xfinity Television</p>
        <p><a href="http://www.xfinity.com/customerdeals?CMP=KNC-IQ_ID_sZ2Vxqf9r-VQ2-g-VQ6-55848858466-VQ16-c-pkw-xfinity-pmt-e-slid--tid-kucluzumz0-&CCT=53BA3D76CB1473BFF49C79FE4AA86DFF1EE2DE626F409A59BACE68CC3F3776A8D586D279057050F892B443A94A42A04F91124E5DE92A2DDE006B9874D54E3BEEEEC214B59A750BA8FBC3E2D6BE7F47BC562563D2F52B8B3475919843776C16CCDF1D69D1AE2AC870014C788ED2721093" target= _blank class="btn btn-primary" role="button">TV</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img\varsign.jpg" alt="test">
      <div class="caption">
        <h3>Xfinity Service</h3>
        <p>Xfinity Television</p>
        <p><a href="http://www.xfinity.com/customerdeals?CMP=KNC-IQ_ID_sZ2Vxqf9r-VQ2-g-VQ6-55848858466-VQ16-c-pkw-xfinity-pmt-e-slid--tid-kucluzumz0-&CCT=53BA3D76CB1473BFF49C79FE4AA86DFF1EE2DE626F409A59BACE68CC3F3776A8D586D279057050F892B443A94A42A04F91124E5DE92A2DDE006B9874D54E3BEEEEC214B59A750BA8FBC3E2D6BE7F47BC562563D2F52B8B3475919843776C16CCDF1D69D1AE2AC870014C788ED2721093" target= _blank class="btn btn-primary" role="button">TV</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img\varsign.jpg" alt="test">
      <div class="caption">
        <h3>Xfinity Service</h3>
        <p>Xfinity Television</p>
        <p><a href="http://www.xfinity.com/customerdeals?CMP=KNC-IQ_ID_sZ2Vxqf9r-VQ2-g-VQ6-55848858466-VQ16-c-pkw-xfinity-pmt-e-slid--tid-kucluzumz0-&CCT=53BA3D76CB1473BFF49C79FE4AA86DFF1EE2DE626F409A59BACE68CC3F3776A8D586D279057050F892B443A94A42A04F91124E5DE92A2DDE006B9874D54E3BEEEEC214B59A750BA8FBC3E2D6BE7F47BC562563D2F52B8B3475919843776C16CCDF1D69D1AE2AC870014C788ED2721093" target= _blank class="btn btn-primary" role="button">TV</a></p>
      </div>
    </div>
  </div>
</div>
  </div>