<div class="container">
  <div class="jumbotron">
    <h1><span><i class="fa fa-universal-access" aria-hidden="true"></i></span> Services </h1>
    <p>Here is the breakdown of what we offer.</p>
  </div>
  <div class="row">
    <!-- Boxes de Acoes -->
    <div class="col-xs-12 col-md-6">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-television" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">Cable TV Services</h3>
            <p>A portion of the monthly HOA dues pays for the neighborhood subscription to Xfinity's Digital Starter TV Package.
              Click below to see what's included in the channel lineup.</p>
            <div class="more">
              <a href="http://www.xfinity.com/Customers/Clu/ChannelLineup.ashx" class="btn btn-default" target=_blank title="Television">
								Learn More
							</a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-leaf" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">Landscaping</h3>
            <p>
              Falling Leaves visits the community every Tuesday to provide landscaping services for common areas. Some of services that
              they offer are cutting grass, blowing leaves, and trimming hedges. To learn more about the company click below.
            </p>
            <div class="more">
              <a href="http://www.fallingleaveslawncare.com/" class="btn btn-default" target="blank" title="Landscaping">
								Learn More
							</a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="box">
      <div class="icon">
        <div class="image"><i class="fa fa-bug" aria-hidden="true"></i></div>
        <div class="info">
          <h3 class="title">Pest Control</h3>
          <p>
            Peachtree Pest Control provides the community with their services on a weekly basis. In addition to spraying the exterior
            of the buildings and checking the termite bait stations. They are also the resource homeowners should use for
            interior needs. To contact them click below.
          </p>
          <div class="more">
            <a href="http://www.peachtreepestcontrol.com/index.html" class="btn btn-default" target="blank" title="Pest Control">
								Learn More
							</a>
          </div>
        </div>
      </div>
      <div class="space"></div>
    </div>
  </div>


  <div class="col-xs-12 col-md-6">
    <div class="box">
      <div class="icon">
        <div class="image"><i class="fa fa-building-o" aria-hidden="true"></i></div>
        <div class="info">
          <h3 class="title">Insurance</h3>
          <p>
            All homeowners are covered by The Variations Master Policy. This policy covers any damage done to the exterior of the buildings.
            If you have any questions or concerns please click below for Insurance contact information.
          </p>
          <div class="more">
            <a href="http://agency.nationwide.com/walker-nolan-in-buford-ga" class="btn btn-default" target="blank" title="Insurance">
								Learn More
							</a>
          </div>
        </div>
      </div>
      <div class="space"></div>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="box">
      <div class="icon">
        <div class="image"><i class="fa fa-tint" aria-hidden="true"></i></div>
        <div class="info">
          <h3 class="title">Watershed Services</h3>
          <p>
            Dekalb County provides the community with all of our water and sewer services. All water usage is included at one fix rate
            paid out of the HOA bill.
          </p>
          <div class="more">
            <a href="http://www.dekalbwatershed.com/" class="btn btn-default" target="blank" title="Watershed">
								Learn More
							</a>
          </div>
        </div>
      </div>
      <div class="space"></div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="box">
      <div class="icon">
        <div class="image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
        <div class="info">
          <h3 class="title">Community Utilities</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida
            massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
          </p>
          <div class="more">
            <a href="https://www.georgiapower.com/" class="btn btn-default" target="blank" title="Utilities">
								Learn More
							</a>
          </div>
        </div>
      </div>
      <div class="space"></div>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="box">
      <div class="icon">
        <div class="image"><i class="fa fa-wrench" aria-hidden="true"></i></div>
        <div class="info">
          <h3 class="title">Community Maintenance</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida
            massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
          </p>
          <div class="more">
            <a href="#" class="btn btn-default" target="blank" title="Maintenance">
								Learn More
							</a>
          </div>
        </div>
      </div>
      <div class="space"></div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="box">
      <div class="icon">
        <div class="image"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
        <div class="info">
          <h3 class="title">Pool Maintenance</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida
            massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
          </p>
          <div class="more">
            <a href="#" class="btn btn-default" (click)="onMoreInformationClick()" target="blank" title="Pool">
								Learn More
							</a>
          </div>
        </div>
      </div>
      <div class="space"></div>
    </div>
  </div>
  </div>
  <!-- /Boxes de Acoes -->
</div>