<div id="sign_in">
    <div class="container">
        <div class="row">
            <div class="col-md-12 header">
                <h4>Sign in to your account</h4>
            </div>
            <div class="col-md-4">
                <form [ngFormModel]="signinForm" (ngSubmit)="onSignin()" class="form-inline">
                    <div class="input-group">
                        <label for="email">E-Mail</label>
                        <input [ngFormControl]="signinForm.find('email')" placeholder="Email" class="form-control" type="email" id="email"  #email="ngForm">
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input [ngFormControl]="signinForm.find('password')" type="password" id="password" placeholder="Password" class="form-control"  >
                    </div>

                    <div class="input-group">&nbsp;</div>

                    <button type="submit" class="btn btn-primary" [disabled]="!signinForm.valid">Sign In</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="remember">
                    <label class="checkbox">
                            <input type="checkbox"> Remember me
                        </label>
                    <button class="btn btn-info" (click)="onForgotPassword()">Forgot password?</button>
                </div>
            </div>
        </div>
        
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-md-6">
                <div class="dosnt">
                    <span>Don’t have an account?</span>
                    <a href="" [routerLink]="['Signup']">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

</div>