<div class="container">

    <div class="jumbotron">
        <h1><span><i class="fa fa-user-plus" aria-hidden="true"></i></span> Sign Up</h1>
        <h3>Create a sign up account to access additional features and information.</h3>
    </div>

    <form [ngFormModel]="signUpForm" (ngSubmit)="onSignup()" novalidate>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="email">E-Mail</label>
                <input [ngFormControl]="signUpForm.find('email')" type="email" id="email" #email="ngForm" placeholder="Email" class="form-control ">
                <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']" class="error"> Invalid e-mail address</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="firstNMme">First Name</label>
                <input [ngFormControl]="signUpForm.find('firstName')" type="text" id="firstName" placeholder="First Name" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="lastName">Last Name</label>
                <input [ngFormControl]="signUpForm.find('lastName')" type="text" id="lastName" placeholder="Last Name" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-1">
                <label for="Unit">Unit #</label>
                <input [ngFormControl]="signUpForm.find('unit')" type="number" id="unit" #unit="ngForm" min="1901" max="2112" maxlength="4"
                    placeholder="Unit #" class="form-control">
                <span *ngIf="!unit.pristine && unit.errors != null && unit.errors['unitIsInvalid']" class="error">Invalid Unit #</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="password">Password</label>
                <input [ngFormControl]="signUpForm.find('password')" type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="confirm-password">Confirm Password</label>
                <input [ngFormControl]="signUpForm.find('confirmPassword')" type="password" id="confirm-password" #confirmPassword="ngForm"
                    placeholder="Confirm Password" class="form-control">
                <span class="error" *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']"> Passwords do not match</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Sign Up</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <span class="lead">Already have an account?</span>
                <a href="#" class="btn btn-info" [routerLink]="['Signin']">Sign In</a>
            </div>
        </div>


    </form>
</div>